{% load i18n %}

<div class="navbar">
  <h1 class="navbar__brand">
    <a href="{% url 'home' %}">Django Web Framework</a>
  </h1>
  <nav class="navbar__actions">
    <ul>
      {% if request.user.is_authenticated %}
        <li>@{{ request.user.username }}</li>
        <!-- Logging out using GET method is deprecated in Django 5.0 -->
        <li>
          <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">{% translate 'Log out' %}</button>
          </form>
        </li>
      {% else %}
        <li>
          <a href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li>
          <a href="{% url 'accounts:signup' %}">Sign Up</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
